{% extends 'acc/main.html' %}

{% block content %}

<main class="container">
  <div>
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        
        <!-- <h3 class="mb-0">Company XYZ :Summer Internship</h3> -->
        <!-- <strong class="d-inline-block mb-2 text-primary">Shruti Verma, DA-IICT </strong> -->
        <!-- <div class="mb-1 text-muted">Software Engineer</div> -->
        <!-- <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia, -->
          <!-- molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum -->
          <!-- numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium -->
          <!-- optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis -->
          <!-- obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam -->
          <!-- nihil, eveniet aliquid culpa officia aut!.</p> -->
        <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        <table class="card card-body">
          <tr>
            <th>Experiences</th>
          </tr>
          {% for i in customer %}
          {{i.name}}
          {% endfor %}
        </table>
      </div>
      <div class="col-auto d-none d-lg-block">
      </div>
    </div>
  </div>
  </div>
</main>
  

      <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
        
    
{% endblock content %}