body
{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.flex-container {
    display: flex;
    background-color: solid black;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    }
                
    .flex-container > div {

    background-color: solid black;
    /* border: 40 px red; */
    justify-content: flex-start;
    border-color: aqua;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    
    }
    body{
        padding: 30px;
    }
    form.example input[type=text] {
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 50%;
background: #f1f1f1;
}

form.example button {
float: left;
width: 5%;
padding: 10px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}

form.example button:hover {
background: #0b7dda;
}

form.example::after {
content: "";
clear: both;
display: table;}

.search-box
{
display: flex;
justify-content: center;
}

ul{
    list-style-type: none;
    margin: 50px;
    padding: 0;
    width:500px
}

#list{
    display: inline;
}

li{
    text-align: left;
    padding: 5px;
}

.btns{
    position: absolute;
    top: 270px;
    width: 240px;
    align-items: center;
    background-color: #3a0909;
}

.addtsk{
    border: solid;
    margin: 5px;
    font-size: 12px;
    border-color: rgb(131, 184, 51);
    background-color: #ffffff;
}

.addtsk:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgb(131, 184, 51);
}

.deltsk{
    border: solid;
    margin: 2px;
    font-size: 12px;
    border-color: red;
    background-color: #ffffff;
}

.deltsk:hover{
    transform: scale(1.1);
    color: white;
    background-color: red;
}

#edit{
    position: absolute;
    left: 170px;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #f9f4f4;
}

#edit:hover{
    color: rgb(6, 6, 0);
    transform: scale(1.08);
}

#trash{
    position: absolute;
    left: 200px;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #120d0d;
}

#trash:hover{
    color:red;
    transform: scale(1.08);
}

#add{
    border-color: greenyellow;
    background-color: rgb(255, 255, 0);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}

#add:hover{
    background-color: rgb(0,255,0);
    transform: scale(1.2);
    box-shadow: 4px 4px 12px #000000;
}
#menu{
    position: relative;
    display: inline-block;
    /* justify-content: center; */
    margin-top: 0px;
    margin-left: 260px;
    width: 825px;
    height: 300px;
    border: solid;
    border-radius: 10px;
    text-align: center;
    background-color: #6e3d3d;
    box-shadow: 3px 3px 10px;
}
#check
{
    display: none;
}

#check :checked ~ .content
{
    display: block;
} 

label{
    display: inline-block;
    color: #000000;
    text-decoration: underline;
}
.content
{
    display: none;
}
.check
{
    display: inline-block;
}

input{
    background-color: #ffff;
}
.nme ,.me
{
    color: #000000;
}
#taskss li
{
    color: #000000;
}
.text {
    font-size: 24px;
  }
  .moreText {
    display: none;
  }
  .read-more-btn {
    padding: 15px 60px;
    background-color: rgb(149, 170, 197);
    color: rgb(53, 49, 49);
    border: none;
    outline: none;
    font-size: 20px;
    cursor: pointer;
  }
  .text.show-more .moreText {
    display: inline;
  }
  .text.show-more .dots {
    display: none;
  }
