body
{
    background-color: black;
    color: aliceblue;
}

.flex-container {
    display: flex;
    background-color: solid black;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    }
                
    .flex-container > div {

    background-color: solid black;
    border: 50 px red;
    justify-content: flex-start;
    border-color: aqua;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    
    }
    body{
        padding: 30px;
    }
    form.example input[type=text] {
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 50%;
background: #f1f1f1;
}

form.example button {
float: left;
width: 5%;
padding: 10px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}

form.example button:hover {
background: #0b7dda;
}

form.example::after {
content: "";
clear: both;
display: table;}

.search-box
{
display: flex;
justify-content: center;
}